<h1>topic</h1>
<p><%= @topic.description %> <%= cl_image_tag @topic.photo, height: 300, width: 400, crop: :fill %>
</p>
<br>
<% @topic.answers.each do |answer|  %>
<ul>
  <li> <%= answer.description %> by <%= answer.user%></li>
</ul>
  <% end %>

<%= link_to "new answer", new_topic_answer_path(@topic) %>
